form{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

input{
    padding: 10px 15px;
    outline: none;
}
button{
    outline: none;
    color: white;
    background-color: brown;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}